{% extends 'base.html' %}
{% load static %}
{% block title %}Trabia - Servizi{% endblock title %}
{% block description %}{% endblock description %}
{% block page_title %} <span class="text-primary">Servizi</span>{% endblock page_title %}
{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Servizi</li>
{% endblock breadcrumb %}
{% block content %}

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Servizi</h6>
                <h1 class="mb-5">I nostri Servizi</h1>
            </div>
            <div class="row g-4">
                {% if category %}
                {% for cat in category %}
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <a href="{% url 'service_cat' cat.slug %}"><h5>{{cat.name}}</h5></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}

                <h1 class="text-center">Ci scusiamo per il disagio ma al momento non è presente alcun servizio</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Service End -->

{% endblock content %}