{% extends 'base.html' %}
{% load static %}
{% block title %}Trabia | 404 Page Not Found{% endblock title %}
{% block page_title %}404 <span class="text-primary">Pagina non Trovata</span>{% endblock page_title %}
{% block content %}
 <!-- 404 Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">404</h1>
                    <h1 class="mb-4">Pagina non Trovata</h1>
                    <p class="mb-4">Ci dispiace ma la pagina che stai cercando di raggiungere non esiste o non è più disponibile nel nostro sito. </p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'index' %}">Torna alla Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->


{% endblock content %}