{% extends 'base.html' %}
{% load static %}
{% block title %}Gli Irrequieti | Chi Siamo{% endblock title %}
{% block keywords %}Trabia, Irrequeti, Gli Irrequieti Trabia, Lanza, Storia di Trabia, Tradizioni di Trabia, Eventi a Trabia, Cultura, Notizie su Trabia, Trabia turismo, Escursioni a Trabia, Itinerari Trabia, Vacanze a Trabia{% endblock keywords %}
{% block description %}Scopri la nostra storia e la passione che guida ogni passo della nostra avventura. Siamo Gli Irrequieti, impegnati a prenderci cura del nostro paese! Unisciti a noi mentre condividiamo la nostra visione e l'amore per Trabia{% endblock description %}

{% block social_title %}Gli Irrequieti | Chi Siamo{% endblock social_title %}
{% block social_description %}Scopri la nostra storia e la passione che guida ogni passo della nostra avventura. Siamo Gli Irrequieti, impegnati a prenderci cura del nostro paese! Unisciti a noi mentre condividiamo la nostra visione e l'amore per Trabia{% endblock social_description %}
{% block social_img %}{% static 'img/logog.png' %}{% endblock social_img %}
{% block social_url %}www.glirrequietitrabia.it/chi-siamo/{% endblock social_url %}



{% block page_title %}<span class="text-primary">Gli Irrequieti</span>{% endblock page_title %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Chi Siamo</li>

  {% endblock breadcrumb %}
{% block content %}


    <!-- About Start -->
    <section class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/logog.png'%}" alt="Gli Irrequieti Trabia Logo">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Gli Irrequieti <span class="text-primary">Trabia</span></h1>
                    <p class="mb-4">Chiudete gli occhi e immaginate di essere dentro la scena di un film romantico. Immaginate un ragazzo che, in una notte stellata e silenziosa, una di quelle come non se ne sono mai viste prima, si trova seduto sui gradini di una grande scalinata in un antico quartiere del suo piccolo paesino. Immaginate i pensieri che passano per la mente di questo ragazzo che, con stupore, ammira l'immenso paesaggio posto davanti ai suoi occhi: le campagne, gli alberi in fiore, la costa, gli isolotti, il mare che incontra le montagne all'orizzonte, le luci di alcune vecchie lampare... Immaginate tutto questo.</p>
                    <p class="mb-4">Capirete anche voi che da ciò non può nascere nulla, se non emozioni inimmaginabili, emozioni che ti fanno viaggiare con la mente verso luoghi lontani e che ti spingono ad agire concretamente in modo tale da poter catturare proprio quei luoghi con il fine di portarli nella realtà in cui viviamo.</p>

                </div>
            </div>
        </div>
    </section>
     <section class="container">
        <h4 class="text-center display-3">Adesso smettete di immaginare</h4>
        <p class="mb-4">aprite gli occhi e pensate che tutto ciò è realmente accaduto. Pensate che proprio quelle emozioni, suscitate da un paesaggio così splendido, hanno spinto un ragazzo a rimboccarsi le maniche, riunire altri sognatori come lui e a darsi da fare per cercare di rendere il posto che lo ha cresciuto un posto più bello e accogliente, affinché tutti  possano provare le sue stesse emozioni e possano riempirsi di orgoglio pensando di vivere in un luogo così bello e suggestivo.</p>
        <p class="mb-4">È proprio questo quello che questo gruppo si propone di fare: <strong>Valorizzare</strong> e <strong>Arricchire</strong> tramite l'arte questo paese e non solo, così da portare più bellezza negli occhi di tutti e più amore nei cuori di tutti, in modo tale che chiunque possa innamorarsi del posto in cui vive e possa andarne fiero. In fin dei conti l'arte non può fare altro che generare una sola cosa: l'amore.</p>
        <h4 class="text-center display-7">Ma perché proprio questo nome?</h4>
        <p class="mb-4">Qualcuno di voi se lo sarà chiesto, ne siamo sicuri. Beh, adesso spiegheremo anche questo.</p>
        <p class="mb-4">Come detto prima, il gruppo nasce dall'idea prima di uno e poi di più ragazzi Trabiesi. </p>
        <p class="mb-4">È noto che una delle più importanti e potenti famiglie reali esistite nella nostra isola sia stata quella dei Lanza. Chiunque, per i propri studi o solo per averne sentito parlare, conosce le meraviglie che questa splendida famiglia ha realizzato sul nostro territorio. Tra le figure più importanti dei Lanza emerge proprio quella del Principe.</p>
        <p class="mb-4">Raimondo, proprio per la sua vitale energia e per il suo continuo voler fare, veniva chiamato "Il principe Irrequieto". Noi, anche se non lo abbiamo conosciuto direttamente, possiamo immaginare l'amore che quest'uomo di sangue blu nutriva per il suo popolo e per il suo "Regno" e possiamo immaginare le migliaia di idee che frullavano nel suo cervello, le quali sarebbero servite tutte a migliorare il piccolo paesino Arabo. Purtroppo la storia ci insegna che la sua Vita finì in maniera tragica e, che ciò sia accaduto per mano sua o per mano di altri, cosa che rimarrà sempre un mistero, di sicuro questo scherzo del destino non ha permesso all' "Irrequieto Principe" di poter elevare sempre di più la bellezza del  fantastico "quadrato" Arabo.</p>
        <p class="mb-4">Così, partendo da lui, abbiamo deciso che se il nostro obbiettivo doveva essere quello di valorizzare questo luogo, non potevamo chiamarci in altro modo se non "Gli Irrequieti", proprio per continuare, in un certo senso, le opere che Raimondo Lanza, l'uomo di sangue blu, non ha potuto mai portare a termine nel suo amato paese a causa di un piccolo scherzetto della morte.</p>
        <h4 class="text-center display-7">Perché ci rappresentiamo con un leone ?</h4>
        <p class="mb-4">Beh, Come avrete già potuto capire, il nostro amato logo altro non è che un ennesimo riferimento alla già citata Trabia e alla famiglia Lanza. Il leone, infatti, oltre ad essere un bellissimo e vigoroso animale, è il simbolo della famiglia reale presa in considerazione già nelle righe precedenti e, per come lo abbiamo concepito, esso è da considerarsi il completamento del senso del nome, così come quest'ultimo lo è del primo. </p>
        <p class="mb-4">Ovviamente si tratta sempre di un Leone molto stilizzato, ma ci sembra anche giusto dare un tocco giovanile e personale a questo gruppo nascente affinché tutti possano subito riconoscerci e riconoscere le nostre opere e quello che facciamo. Inoltre, come potete vedere dall'immagine pubblicata, i riferimenti all'arte non possono mai mancare essendo essa la vita e il motore dell'intera esistenza umana. Ed è proprio per questo motivo, al quale poi si aggiunge il riferimento al lavoro compiuto dal gruppo, che il leone tiene stretto tra la bocca un pennello sporco di colore.Detto questo, ci piace pensare che chiunque osservi questo fantastico logo possa vedere in esso Raimondo Lanza che, con un pennello in mano, dipinge e riempie d'arte e d'amore il suo amato paese.</p>
        <blockquote class="blockquote text-center">
            <p class="mb-2 lead">"Non chiedete cosa il vostro paese può fare per voi, chiedete cosa potete fare voi per il vostro paese."</p>
            <footer class="blockquote-footer"><cite>J.F. Kennedy</cite></footer>
        </blockquote>
    </section>
    <!-- About End -->


    <!-- Contact Start -->
    <!--<div class="container-xxl py-5">-->
    <!--    <div class="container">-->
    <!--        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">-->
    <!--            <h6 class="section-title bg-white text-center text-primary px-3">Contattaci</h6>-->
    <!--            <h1 class="mb-5">Contattaci per ogni evenienza</h1>-->
    <!--        </div>-->
    <!--        <div class="row g-4">-->
    <!--            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">-->
    <!--                <h5>Contattaci</h5>-->
    <!--                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos</p>-->
    <!--                <div class="d-flex align-items-center mb-4">-->
    <!--                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">-->
    <!--                        <i class="fa fa-map-marker-alt text-white"></i>-->
    <!--                    </div>-->
    <!--                    <div class="ms-3">-->
    <!--                        <h5 class="text-primary">Office</h5>-->
    <!--                        <p class="mb-0">123 Street, New York, USA</p>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="d-flex align-items-center mb-4">-->
    <!--                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">-->
    <!--                        <i class="fa fa-phone-alt text-white"></i>-->
    <!--                    </div>-->
    <!--                    <div class="ms-3">-->
    <!--                        <h5 class="text-primary">Mobile</h5>-->
    <!--                        <a href="tel:+393314551557"><p class="mb-0">+39 331 455 1557</p></a>-->
    <!--                        <a href="tel:+393286446393"><p class="mb-0">+39 328 644 6393</p></a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="d-flex align-items-center">-->
    <!--                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">-->
    <!--                        <i class="fa fa-envelope-open text-white"></i>-->
    <!--                    </div>-->
    <!--                    <div class="ms-3">-->
    <!--                        <h5 class="text-primary">Email</h5>-->
    <!--                        <a href="mailto:info@glirrequietitrabia.it"><p class="mb-0">info@glirrequietitrabia.it</p></a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
    <!--                <iframe class="position-relative rounded w-100 h-100"-->
    <!--                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50304.6285149714!2d13.596906975364444!3d37.99954420192269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1317574bd008f8c5%3A0xc381dd3f01605902!2s90019%20Trabia%20PA!5e0!3m2!1sit!2sit!4v1688230725888!5m2!1sit!2sit"                        frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"-->
    <!--                    tabindex="0"></iframe>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">-->
    <!--                <form>-->
    <!--                    <div class="row g-3">-->
    <!--                        <div class="col-md-6">-->
    <!--                            <div class="form-floating">-->
    <!--                                <input type="text" class="form-control" id="name" placeholder="Il tuo nome">-->
    <!--                                <label for="name">Your Name</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="col-md-6">-->
    <!--                            <div class="form-floating">-->
    <!--                                <input type="email" class="form-control" id="email" placeholder="La tua email">-->
    <!--                                <label for="email">Your Email</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="col-12">-->
    <!--                            <div class="form-floating">-->
    <!--                                <input type="text" class="form-control" id="subject" placeholder="Ogetto">-->
    <!--                                <label for="subject">Subject</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="col-12">-->
    <!--                            <div class="form-floating">-->
    <!--                                <textarea class="form-control" placeholder="Scrivi la tua richiesta" id="message" style="height: 100px"></textarea>-->
    <!--                                <label for="message">Richiesta</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="col-12">-->
    <!--                            <button class="btn btn-primary w-100 py-3" type="submit">Invia</button>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!-- Contact End -->

    {% endblock content %}