{% extends 'base.html' %}
{% load static %}
{% block title %}Gli Irrequieti | Termini e Condizioni{% endblock title %}

{% block page_title %}Benvenuti a <span class="text-primary">Trabia</span>{% endblock page_title %}
{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Termini e Condizioni</li>
{% endblock breadcrumb %}
{% block content %}



<div class="container">
    <div class="text-right"><a href="" class="btn btn-primary">See in English</a></div>

<h1>Termini e condizioni</h1>
<p>Ultimo aggiornamento: 4 luglio, 2023</p>
<p>Si prega di leggere attentamente questi termini e condizioni prima di utilizzare il nostro servizio.</p>
<h1>Interpretazione e definizioni</h1>
<h2>Interpretazione</h2>
<p>Le parole di cui la lettera iniziale è capitalizzata hanno significati definiti nelle seguenti condizioni. Le seguenti definizioni hanno lo stesso significato indipendentemente dal fatto che esse compaiano in singolare o plurale.</p>
<h2>Definizioni</h2>
<p>Ai fini dei presenti Termini e Condizioni:</p>
<ul>
<li>
<p><strong>Affiliato</strong> significaun'entità che controlla, è controllata da o è sotto controllo comune con una parte, in cui "controllo" significa proprietà del 50% o più delle azioni, interessi di capitale o altri titoli aventi diritto al voto.</p>
</li>
<li>
<p><strong>Paese</strong> si riferisce a: Italia</p>
</li>
<li>
<p><strong>Azienda</strong> (di cui sia "l'Azienda", "Noi", "Us" o "Il nostro" nel presente Accordo) si riferisce a Gli Irrequieti Trabia, Trabia, 90019.</p>
</li>
<li>
<p><strong>Dispositivo</strong> significa qualsiasi dispositivo che possa accedere al Servizio come un computer, un cellulare o un tablet digitale.</p>
</li>
<li>
<p><strong>Servizio </strong> si riferisce al Sito.</p>
</li>
<li>
<p><strong>Termini e Condizioni</strong> (anche denominati "Termini") si intendono i presenti Termini e Condizioni che costituiscono l'intero accordo tra l'Utente e la Società per quanto riguarda l'uso del Servizio. Il presente accordo Termini e Condizioni è stato creato con l'aiuto del <a href="https://www.freeprivacypolicy.com/free-terms-and-conditions-generator/" target="_blank">Generatore di Termini e Condizioni Gratuiti</a>.</p>
</li>
<li>
<p><strong>Servizio Social Media di terze parti</strong> si intende qualsiasi servizio o contenuto (compresi dati, informazioni, prodotti o servizi) fornito da terzi che possono essere visualizzati, inclusi o resi disponibili dal Servizio.</p>
</li>
<li>
<p><strong>Sito Web</strong> refers to Gli Irrequieti Trabia, accessible from <a href="https://irrequieti.pythonanywhere.com/" rel="external nofollow noopener" target="_blank">https://irrequieti.pythonanywhere.com/</a></p>
</li>
<li>
<p><strong>Tu</strong> Si intende l'accesso individuale o l'utilizzo del Servizio, o della società, o di altra persona giuridica per conto della quale tale persona accede o utilizza il Servizio, a seconda dei casi.</p>
</li>
</ul>
<h1>Riconoscimento</h1>
<p>Questi sono i Termini e Condizioni che disciplinano l'uso del presente Servizio e l'accordo che opera tra l'Utente e la Società. I presenti Termini e Condizioni stabiliscono i diritti e gli obblighi di tutti gli utenti in materia di utilizzo del Servizio.</p>
<p>L'accesso e l'uso del Servizio sono condizionati all'accettazione e alla conformità dei presenti Termini e Condizioni. I presenti Termini e Condizioni si applicano a tutti i visitatori, utenti e altri utenti che accedono o utilizzano il Servizio.</td></p>
<p>Accedendo o utilizzando il Servizio Accetti di essere vincolato dai presenti Termini e Condizioni. Se non sei d'accordo con nessuna parte dei presenti Termini e Condizioni, non puoi accedere al Servizio.</p>
<p>Tu dichiari di avere più di 18 anni. La Società non permette ai minori di 18 anni di utilizzare il Servizio.</p>
<p>Il tuo accesso e l'utilizzo del Servizio sono inoltre condizionati all'accettazione e al rispetto della Privacy Policy dell'Azienda. La nostra Informativa sulla privacy descrive le nostre politiche e procedure per la raccolta, l'uso e la divulgazione dei tuoi dati personali quando utilizzi l'applicazione o il sito Web e ti racconta i tuoi diritti sulla privacy e come la legge ti protegge. Si prega di leggere attentamente la nostra politica sulla privacy prima di utilizzare il nostro servizio.</td></p>

<h1>Link ad altri siti web</h1>
<p>Il nostro Servizio può contenere link a siti web o servizi di terze parti che non sono di proprietà o controllati dalla Società.</p>
<p>La Società non ha alcun controllo e non si assume alcuna responsabilità per il contenuto, le politiche sulla privacy o le pratiche di siti web o servizi di terze parti. L'Utente riconosce e accetta che la Società non sia responsabile o responsabile, direttamente o indirettamente, di eventuali danni o perdite causati o presunti da o in relazione all'uso o alla dipendenza di tali contenuti, beni o servizi.</td></p>
<p>Vi consigliamo vivamente di leggere i termini e le condizioni e le politiche sulla privacy di tutti i siti web o servizi di terze parti che Visitate.</p>

<h1>Terminazione</h1>
<p>Possiamo terminare o sospendere immediatamente l'accesso, senza preavviso o responsabilità, per qualsiasi motivo, anche senza limitazione se si violano i presenti Termini e Condizioni.</p>
<p>Al termine, il Suo diritto di utilizzare il Servizio cesserà immediatamente.</p>

<h1>Limitazione della responsabilità</h1>
<p>Per quanto possibile, la Società o i suoi fornitori non sono responsabili di eventuali danni particolari, incidentali, indiretti o irrilevanti (inclusi, ma non limitati, danni per perdita di utili)</p>
<p>Alcuni Stati non consentono l'esclusione di garanzie implicite o la limitazione della responsabilità per danni incidentali o non sequenziali, il che significa che alcune delle limitazioni sopra riportate non possono applicarsi. In questi Stati, la responsabilità di ciascuna parte sarà limitata nella misura massima consentita dalla legge.</p>

<h1>Disclaimer "A In" e "A AVAILABLE"</h1>
<p>Il Servizio è fornito a Te (Tu) "A In" e "A AVAILABLE" e con tutti i difetti e difetti senza garanzia di alcun tipo. Nella misura massima consentita dalla legge applicabile, la Società, per proprio conto e per conto dei suoi Affiliati, nonché delle relative licenze e prestatori di servizi, può esplicitamente esonerare il titolo, se esplicito, implicito Senza limitazioni a quanto precede, la Società non fornisce alcuna garanzia o impresa e non fornisce alcuna rappresentazione di alcun tipo che il Servizio soddisfi i Vostri requisiti, raggiunga i risultati previsti, sia compatibile o funzioni con altri software, applicazioni, sistemi o servizi</p>
<p>senza limitazione di quanto precede, né la Società né alcun fornitore dell'azienda effettuano alcuna rappresentazione o garanzia di alcun tipo, esplicita o implicita: (i) quanto al funzionamento o alla disponibilità del Servizio;</p>
<p>Alcune giurisdizioni non consentono l'esclusione di alcuni tipi di garanzie o limitazioni dei diritti legali applicabili di un consumatore, in modo che alcune o tutte le suddette esclusioni e limitazioni non si applichino a voi. In tal caso, tuttavia, l'esclusione e le limitazioni di cui alla presente sezione sono applicate nella misura più rigorosa possibile ai sensi del diritto applicabile.</p>

<h1>Legge applicabile</h1>
<p>Le leggi del Paese, escluse le sue norme in materia di conflitti di legge, disciplinano i presenti Termini e l'utilizzo del Servizio. L'utilizzo dell'applicazione può essere soggetto anche ad altre leggi locali, statali, nazionali o internazionali.</p>

<h1>Risoluzione delle controversie</h1>
<p>Se hai qualche preoccupazione o controversia sul Servizio, Accetti prima di cercare di risolvere la controversia in modo informale contattando la Società.</p>

<h1>Per gli utenti dell'Unione europea (EU)</h1>
<p>Se sei un consumatore dell'Unione europea, beneficerai di tutte le disposizioni obbligatorie della legge del paese in cui risiederai.</p>

<h1>United States Legal Conformità giuridica degli Stati Uniti</h1>
<p>Lei rappresenta e garantisce che (i) Lei non si trova in un paese che è soggetto all'embargo del governo degli Stati Uniti, o che è stato designato dal governo degli Stati Uniti come un paese limitato "terrorista di sostegno", e (ii) Non sei inserito in alcuna lista di "prohibited or restricted parties" di ogni stato degli USA</p>

<h1>Severabilità e Revoca</h1>
<h2>Severabilità</h2>
<p>Se una disposizione dei presenti Termini è ritenuta esecutiva o non valida, tale disposizione sarà modificata e interpretata per conseguire gli obiettivi di tale disposizione nella misura più ampia possibile a norma della legge applicabile e le restanti disposizioni continueranno in vigore.</p>

<h2>Revoca</h2>
<p>Salvo quanto previsto nel presente regolamento, il mancato esercizio di un diritto o l'esecuzione di un obbligo ai sensi dei presenti Termini non pregiudica la capacità di una parte di esercitare tale diritto o di esigere tale esecuzione in qualsiasi momento successivo né costituisce una violazione.</p>

<h1>Interpretazione di traduzione</h1>
<p>Questi Termini e Condizioni possono essere stati tradotti se li abbiamo resi disponibili sul nostro Service.You d'accordo che il testo originale inglese prevarrà nel caso di una controversia.</p>

<h1>Modifiche ai presenti Termini e Condizioni</h1>
<p>Ci riserviamo il diritto, a nostra esclusiva discrezione, di modificare o sostituire i presenti Termini in qualsiasi momento. Se una revisione è materiale Faremo sforzi ragionevoli per fornire almeno 30 giorni di preavviso prima di qualsiasi nuovo termini che prendono effetto. Ciò che costituisce un cambiamento materiale sarà determinato a nostra esclusiva discrezione.</p>
<p>BContinuando ad accedere o utilizzare il nostro servizio dopo l'effettiva efficacia di tali revisioni, l'utente accetta di essere vincolato dai termini riveduti. Se non accetti i nuovi termini, in tutto o in parte, smetti di utilizzare il sito web e il Servizio.</p>

<h1>Contattaci</h1>
<p>Se hai domande sui presenti Termini e Condizioni, potete contattarci:</p>
<ul>
<li>Per email: <a href="mailto:info@glirrequieti.it" class="__cf_email__"  data-cfemail="10797e767f50777c796262756165797564793e737f7d">info@glirrequieti.it</a></li>
</ul><script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
</div>

{% endblock content %}